aosp-devel-0.10-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
bluez-firmware-1.2-9-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
brave-bin-1:1.61.109-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
dolphin-megasync-5.2.0-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
dolphin-megasync-bin-5.2.0-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
downgrade-11.3.0-1-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
lineageos-devel-0.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
megasync-4.11.0-4-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
megasync-bin-4.11.0-4-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
mkinitcpio-firmware-1.4.0-1-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
mkinitcpio-numlock-1.0.3-1-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
ncurses5-compat-libs-6.4-2-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
obsidian-bin-1.5.3-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
rtl8821ce-dkms-git-1.0.5.r166.gb5b8a5c-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
rtw89-dkms-git-1:r827.63bff3d-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
stacer-bin-1.1.0-5-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
tela-icon-theme-2023.06.25-1-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
thunar-megasync-bin-4.3.0-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
thunar-secure-delete-0.9.2-1-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
universal-android-debloater-bin-0.5.1-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
visual-studio-code-bin-1.85.1-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
xml2-0.5-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
yay-bin-12.2.0-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
